<!doctype html>
<html lang="en">

<head>
    <title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a id="home" class="navbar-brand" [routerLink]="['/home']">Men's Style</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a id="addProduct" class="nav-link active" aria-current="page" [routerLink]="['/home']">Perfil</a></li>
                    <li class="nav-item"><a id="perfil" class="nav-link" [routerLink]="['/ordenes']">Ordenes</a></li>
                    <li class="nav-item"><a id="perfil" class="nav-link" (click)="redirectToLogin()">Cerrar Sesion</a></li>
                </ul>
                <form class="d-flex">
                    <button id="carrito" class="btn btn-outline-dark" type="submit" [routerLink]="['/shopBag']">
                            <i class="bi-cart-fill me-1"></i>
                            ShopCar
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{shopBag.length}}</span>
                        </button>
                </form>
            </div>
        </div>
    </nav>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Ordenes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table" *ngIf="ordenes && ordenes.length > 0">
                            <thead class="thead-primary">
                                <tr>
                                    <th>Código</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Total</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="container">
                                <tr *ngFor="let item of ordenes">
                                    <th id="sku" scope="row">{{item.id}}</th>
                                    <th id="tipoArticulo" scope="row">{{ getFechaHora(true, item.fecha) }}</th>
                                    <td id="nameProduct">{{ getEstadoOrden(item.idEstadoOrden) }}</td>
                                    <td id="cantidad">{{item.total}}</td>
                                    <td><button id="deleteProduct" class="btn btn-outline-dark" (click)="verDetalleOrden(item.id)">Ver Detalle</button></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>