<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Registrate</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3>Registrate</h3>

        <label for="username">Nombre</label>
        <input type="text" placeholder="Ingresa su Nombre" formControlName="nombre">
        <div *ngIf="registerForm.get('nombre')?.hasError('required')">
            Nombre es requerido.
        </div>

        <label for="username">Apellido</label>
        <input type="text" placeholder="Ingresa su Apellido" formControlName="apellido">

        <label for="username">Usuario</label>
        <input type="text" placeholder="Ingresa un Nombre de Usuario" formControlName="username">

        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingresa una Contraseña" formControlName="password">

        <label for="password">Confirmar Contraseña</label>
        <input type="password" placeholder="Confirma la Contraseña" formControlName="confpassword">
        <div *ngIf="registerForm.hasError('passwordMismatch')">
            Las contraseñas no coinciden.
          </div>

        <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>

    </form>

</body>

</html>