<!doctype html>
<html lang="en">

<head>
    <title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a id="home" class="navbar-brand" [routerLink]="['/home']">Men's Style</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a id="addProduct" class="nav-link active" aria-current="page" [routerLink]="['/home']">Perfil</a></li>
                    <li class="nav-item"><a id="perfil" class="nav-link" [routerLink]="['/home']">Ordenes</a></li>
                    <li class="nav-item"><a id="perfil" class="nav-link" (click)="redirectToLogin()">Cerrar Sesion</a></li>
                </ul>
                <form class="d-flex">
                    <button id="carrito" class="btn btn-outline-dark" type="submit" [routerLink]="['/shopBag']">
                            <i class="bi-cart-fill me-1"></i>
                            ShopCar
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{shopBag.length}}</span>
                        </button>
                </form>
            </div>
        </div>
    </nav>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Carrito</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table" *ngIf="shopBag && shopBag.length > 0">
                            <thead class="thead-primary">
                                <tr>
                                    <th>SKU</th>
                                    <th>Tipo Artículo</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="container">
                                <tr *ngFor="let item of shopBag">
                                    <th id="sku" scope="row">{{item.idArticulo}}</th>
                                    <th id="tipoArticulo" scope="row">{{ tiposArticulo[articulos[item.idArticulo]?.idTipoArticulo]?.titulo}}</th>
                                    <td id="nameProduct">{{articulos[item.idArticulo]?.titulo}}</td>
                                    <td id="cantidad">{{item.cantidad}}</td>
                                    <td id="total">{{'Q.'+(item.cantidad * articulos[item.idArticulo]?.precio)}}</td>
                                    <td><button id="deleteProduct" class="btn btn-outline-dark" (click)="deleteItem(idUser,item.idArticulo)" >Eliminar</button></td>
                                </tr> 
                            </tbody>
                        </table>

                        <div class="d-flex " id="containerButton">
                                <button id="buy" class="btn btn-outline-dark flex-shrink-0 " type="button " *ngIf="shopBag && shopBag.length > 0" (click)="loginPasarela()">
                                        <i class="bi-cart-fill me-1 "></i>
                                        ¡Comprar!
                                    </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>