<!doctype html>
<html lang="en">

<head>
    <title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a id="home" class="navbar-brand" href="">eCommerce</a>
            <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                    <li class="nav-item"><a id="addProduct" class="nav-link active" aria-current="page" href="#!">Agregar Producto</a></li>
                    <li class="nav-item"><a id="perfil" class="nav-link" href="#!">Perfil</a></li>
                    <li id="orders" class="nav-item"><a id="listOrders" class="nav-link" href="#!">Pedidos</a></li>
                </ul>
                <form class="d-flex ">
                    <button class="btn btn-outline-dark " type="submit ">
                                <i class="bi-cart-fill me-1 "></i>
                                Carrito
                                <span class="badge bg-dark text-white ms-1 rounded-pill ">0</span>
                            </button>
                </form>
            </div>
        </div>
    </nav>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Carrito</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>
                                    <th>SKU</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="container">
                                <template id="templateRow">
                                <tr>
                                    <th id="sku" scope="row">1</th>
                                    <td id="nameProduct">Mark</td>
                                    <td id="descriptionProduct">Otto</td>
                                    <td id="cantidad">5</td>
                                    <td id="total">535</td>
                                    <td><button id="deleteProduct">Eliminar</button></td>
                                </tr>
                            </template>
                            </tbody>
                        </table>

                        <div class="d-flex " id="containerButton">
                            <template id="templateButtonBuy">
                                <h4 class="form-control text-center me-3 " id="wallet" style="max-width: 3rem ">dinero</h4>
                                <button id="buy" class="btn btn-outline-dark flex-shrink-0 " type="button ">
                                        <i class="bi-cart-fill me-1 "></i>
                                        ¡Comprar!
                                    </button>
                                </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>